<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style2.css">
</head>

<body>
    <main>
        <header>
            <h1>CADASTRO</h1>
        </header>
        <div>
            <form action="add" method="post">
                <div>
                    <h3>Nome</h3>
                    <input type="name" name="name" placeholder="Escreva seu nome">
                </div>
                <div>
                    <h3>Email</h3>
                    <input type="email" name="email" placeholder="Escreva seu email">
                </div>
                <div>
                    <h3>Senha</h3>
                    <input type="password" name="password" placeholder="Digite sua senha">
                </div>
            </form>
        </div>
    </main>
</body>

</html>